@page
@model ShpinxCommercial.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1 style="text-align:center"> Yehia Abdelhady </h1>
<hr />

<h2 style="text-align:center;padding-top:30px">Sphix Commercial Task 3 Mar</h2>
